* {
  background-color: #8FBC8F;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.minibio {
  margin-top: 20px;
  text-align:center;
  color: #fff;
}

.minibio p {
  width: 240px;
  margin-bottom: 20px;
}

.miniobio h1 {
  width: 280px;
  margin-bottom: 12px;
}

.foto {
  width: 340px;
  height auto;
}

.rede-social {
  width: 320px;
}

.botao {
  color: #000;
  border-radius: 40px;
  cursor: pointer;
  padding: 16px 25px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  width: 300px; 
  margin: 20px;



}

