* {
  background-color: #8FBC8F;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.minibio {
  margin-top: 60px;
  text-align:center;
  color: #fff;
}

.minibio p {
  width: 220px;
  margin-bottom: 50px;
}

.miniobio h1 {
  width: 280px;
  margin-bottom: 12px;
}

.foto {
  width: 400px;
  height auto;
}

.rede-social {
  width: 300px;
}

.botao {
  color: #000;
  border-radius: 20px;
  cursor: pointer;
  padding: 16px 25px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  width: 300px; 
  margin: 10px;


}

